
html {
    background-color: lightgray;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
}

::selection {
    color: #000; 
    background: #ff0;
}

h1 {
    font-weight: normal;
    margin: auto;
    background: white;
    line-height: 2.5em;
}

div.wrapper {
    background-color: white;
    overflow: auto;
}

p1 {
    margin: 1em 1em;
}

iframe {
    display: block;
    margin: auto;
    width: 90%;
    height: 5700px;
    border: 2px solid darkcyan;
}
    
    h1 {
        width: 79%;
        padding-left: 1%;
    }

    aside h2 {
        font-weight: mormal;
        margin: 1am;
        font-size: 14;
    }

    aside h3 {
        font-weight: mormal;
        margin: 1am;
        font-size: 14;
    }

    aside h4 {
        font-weight: mormal;
        margin: 1am;
        font-size: 14;
    }

    nav ul li{
        display:inline;
        margin: 80px;
        margin-top: 10px;
        margin-bottom: 40px;
        margin-right: 80;
    }

    .lists li{
        display:list-item;
        list-style-type:circle;
        margin:0%;
        padding:0%;
    }
    
    img.artist {
        width: 50%;
        float: right;
        margin-right:16em;
    }
    
    img.artist {
        width: 160px;
        margin-top:5px;
        margin-bottom: 20px;  
    }
      
}
